/* 레이아웃 */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
	width: 100%;
	margin: 0;
}

h2 {
	margin-top: 0;
}

a { text-decoration: none; }

.page {
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
	padding: 30px;
}


.initial {
    position: absolute;
    font-style: italic;
    font-weight: bolder;
    font-size: 50px;;
    right: 20px;
}
/* 레이아웃 끝 */

/* 네비게이션 바 */
#nav-bar {
	width: calc(100% - 40px);
	padding-right: 20px;
	padding-left: 20px;
	height: 64px;
	position: fixed;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-title {
	margin-right: auto;
	font-weight: bold;
	font-size: 20px;
}

.nav-category {
	color: white;
	text-decoration: none;
	margin: 10px;
	cursor: pointer;
}

.nav-category:hover {
	color: gray;
}

.down-nav {
	background-color: white!important;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .07);
}

.down-nav > * {
	color: black;
}
/* 네비게이션 바 끝 */

/* 소개 */
#title {
	height: 100vh;
	padding-bottom: 0!important;
	background-image: url("./assets/title.jpg");
	background-size: cover;
	background-color: #393939;
  	background-blend-mode: overlay;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#title > h1 {
	font-family: 'NanumSquare', sans-serif;
    font-size: 48px;
    line-height: 130%;;
    text-align: center;
	color: white;
}

.logo {
	height:200px;
	opacity: 0.7;
	margin: 20px;
	
}

.kweb-explanation {
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
	margin-top: 50px;
	color: #f0f0f0;
	line-height: 1.5em;
}
.rank {
    color: white;
}

.page-title {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}
/* 소개 끝 */

/* 쉽게 */
#easy  {
    background-color: #f2cda8;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;;
}

.container > div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10vh;
    width: 25vw;
    height: 60vh;
    border: 1px solid black;

}
/* 쉽게 끝 */

/* 주변 사연 및 경험 */
#subscribe {
    background-color: #f2cda8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#title > div {
    margin: 5px;
    color: darkgray;;
}

.world-rank {
    margin-bottom: 20px!important;

}
.world-rank > span {
    color: lightgray;
}
/* 주변 사연 및 경험 끝 */

/* 정확/속도/신뢰 */
#news {
    background-color: #b06a3a;
}
/* 정확/속도/신뢰 끝 */

/* 실생활 */
#life {
    background-color: #ff7c23;
}
/* 실생활 끝 */


#value {
    font-size: 30px;
    color: lightgray;
}